.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .header-logo {
    height: 70px; /* Adjust the size as needed */
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;
  }
  
  .sign-in-btn,
  .sign-up-btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-in-btn {
    background-color: transparent;
    color: white;
  }
  
  .sign-up-btn {
    background-color: #007bff; /* A blue color for emphasis */
    color: white;
    border: 2px solid white; /* Optional: adds more emphasis */
  }
  .active-info {
    display: flex; /* Display inline */
    gap: 20px; /* Add some space between the elements */
    color: white; /* Change text color to white */
    font-size: 1.2em;
    font-weight: bold;
}

.active-info p {
    display: flex; 
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 20px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}


@media (max-width: 500px) {
      .header-buttons .sign-up-btn {
        display: none;
    }

    /* Hide Active Users and Active Scouts */
    .active-info {
        display: none;
    }

    /* Optionally, adjust the sign-in button style if needed */
    .header-buttons .sign-in-btn {
        /* Style adjustments for the sign-in button on small screens */
    }

}

@media (max-width: 750px) {
  /* Hide Active Users and Active Scouts */
  .active-info {
      display: none;
  }

  /* Keep the buttons visible */
  .header-buttons {
      display: flex;
  }
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
