.profile-container {
    margin: auto;
    max-width: 800px; /* Adjust the width as needed */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #f0f0f0; /* Light grey background for contrast */
    border-radius: 5px; /* Rounded corners for a softer look */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.section hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-color: #ccc; /* Grey line for separation */
}

.section h2 {
    margin-top: 10px; /* Reduce top margin to bring the title closer to the top of the section */
    /* Other existing styles (font-size, color, etc.) */
}
.section hr {
    margin-top: 10px; /* Reduce the top margin for smaller space above the line */
    margin-bottom: 20px; /* Increase the bottom margin for larger space below the line */
}


.add-scout-subsection {
    padding-bottom: 30px; /* Increase padding at the bottom of the 'Add Scout Device' subsection */
}

.add-scout-subsection h3 {
    font-size: 1em; /* Smaller heading for the subsection */
    margin-bottom: 10px; /* Space between the title and the input field */
}

.add-scout-subsection input,
.add-scout-subsection button {
    font-size: 0.8em; /* Smaller font size for input and button */
    padding: 5px 10px; /* Adjust padding for comfort */
    margin-right: 10px; /* Space between input and button */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
}

.add-scout-subsection button {
    background-color: #007bff; /* Consistent button color */
    color: white; /* Text color */
    cursor: pointer; /* Cursor to indicate clickability */
}

.add-scout-subsection button:hover {
    background-color: #0056b3; /* Darker on hover for interaction feedback */
}

.delete-account-btn {
    margin-top: 20px;
    background-color: #dc3545; /* Red color to indicate a destructive action */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block; /* Center the button */
    width: 200px; /* Fixed width for consistency */
    margin-left: auto;
    margin-right: auto; /* Auto margins for centering */
}

.delete-account-btn:hover {
    background-color: #c82333; /* Slightly darker on hover */
}
